<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tg.coloursteward">

    <permission
        android:name="com.tg.coloursteward.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <!-- Required -->
    <uses-permission android:name="com.tg.coloursteward.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />

    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 用于写入缓存数据到扩展存储卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 用于Android M及以上系统，申请加入忽略电池优化白名单-->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"></uses-permission>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".application.CityPropertyApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="false"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup,android:theme">
        <activity android:name="com.tg.user.activity.LoginActivity" />
        <activity
            android:name="com.tg.user.activity.SplashActivity"
            android:theme="@style/splashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.youmai.hxsdk.forward.ForwardSelectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <!-- 弹出提现新消息页面 -->
        <activity android:name=".activity.AlertActivity" />
        <!-- 消息推送消息列表 -->
        <activity android:name="com.tg.im.activity.DeskTopActivity" />
        <!-- 扫描二维码页面 -->
        <activity android:name=".activity.MipcaActivityCapture" />
        <!-- 公共报修 -->
        <activity android:name=".activity.RepairsPulbicActivity" />
        <!-- 个人中心 -->
        <activity android:name="com.tg.user.activity.UserInfoActivity" />
        <!-- 图片显示 -->
        <activity android:name=".activity.ShowImageActivity" />
        <!-- 更多设置 -->
        <activity android:name="com.tg.setting.activity.SettingActivity" />
        <!-- 关于app -->
        <activity android:name="com.tg.setting.activity.AboutUsActivity" />
        <!-- 修改密码 -->
        <activity android:name="com.tg.setting.activity.ModifiedPasswordActivity" />
        <!-- 意见反馈 -->
        <activity android:name=".activity.OpinionActivity" />
        <!-- 获取手机通讯录 -->
        <activity android:name="com.tg.im.activity.ContactsActivity" />
        <!-- 员工名片 -->
        <activity android:name=".activity.EmployeeDataActivity" />
        <activity android:name="com.colorfullife_verify.Oauth_LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 通讯录搜索 -->
        <activity
            android:name=".activity.HomeContactSearchActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name" />
        <!-- 我的饭票 -->
        <activity
            android:name=".activity.RedpacketsBonusMainActivity"
            android:label="@string/app_name" />
        <!-- 浏览器BaseActivity -->
        <activity
            android:name=".activity.MyBrowserActivity"
            android:configChanges="locale|orientation|keyboard|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- 邀请同事 -->
        <activity
            android:name="com.tg.setting.activity.InviteRegisterActivity"
            android:label="@string/app_name" />
        <!-- 组织框架 -->
        <activity
            android:name=".activity.HomeContactOrgActivity"
            android:label="@string/app_name" />
        <!-- 我的下载 -->
        <activity
            android:name=".activity.DownloadManagerActivity"
            android:label="@string/app_name" />
        <!-- 集体奖惩明细 -->
        <activity
            android:name=".activity.BonusRecordActivity"
            android:label="@string/app_name" />
        <!-- 奖金包(个人) -->
        <activity
            android:name=".activity.BonusRecordPersonalActivity"
            android:label="@string/app_name" />
        <!-- 详情(奖金包) -->
        <activity
            android:name=".activity.BonusRecordDetailNewActivity"
            android:label="@string/app_name" />
        <!-- 详情(绩效) -->
        <activity
            android:name=".activity.EffectDetailActivity"
            android:label="@string/app_name" />
        <!-- 饭票收支明细 -->
        <activity
            android:name=".activity.RedpacketsRecordActivity"
            android:label="@string/app_name" />
        <!-- 我的饭票(提现与转账) -->
        <activity
            android:name=".activity.RedpacketsMainActivity"
            android:label="@string/app_name" />
        <!-- 给同事发饭票 -->
        <activity
            android:name=".activity.RedpacketsShareMainActivity"
            android:label="@string/app_name" />
        <!-- 给同事发饭票 -->
        <activity
            android:name=".activity.RedpacketsTransferMainActivity"
            android:label="@string/app_name" />
        <!-- 通讯录同事 -->
        <activity
            android:name=".activity.RedpacketsContactsActivity"
            android:label="@string/app_name" />
        <!-- 绑定彩之云账号 -->
        <activity
            android:name=".activity.RedpacketsBindCZYMainActivity"
            android:label="@string/app_name" />
        <!-- 选择银行卡 -->
        <activity
            android:name=".activity.RedpacketsBankCardListActivity"
            android:label="@string/app_name" />
        <!-- 绑定银行卡 -->
        <activity
            android:name=".activity.RedpacketsBindBankCardActivity"
            android:label="@string/app_name" />
        <!-- 提现完成页面 -->
        <!--
             <activity
             android:name=".RedpacketsWithdrawFinishedActivity"
             android:label="@string/app_name"
             android:screenOrientation="portrait"
             android:configChanges="orientation|keyboardHidden" />
        -->
        <activity
            android:name=".activity.RedpacketsWithdrawFinishedActivity"
            android:label="@string/app_name" />
        <!-- 提现 -->
        <activity
            android:name=".activity.RedpacketsWithdrawMainActivity"
            android:label="@string/app_name" />
        <!-- 提现记录 -->
        <activity
            android:name=".activity.RedpacketsWithdrawRecordActivity"
            android:label="@string/app_name" />
        <!-- 绑定彩之云 -->
        <activity
            android:name=".activity.RedpacketsBindCZYConfirmActivity"
            android:label="@string/app_name" />
        <!-- 提现明细 -->
        <activity
            android:name=".activity.RedpacketsWithdrawRecordDetailActivity"
            android:label="@string/app_name" />
        <!-- 日志 -->
        <activity
            android:name=".activity.ScanResultActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.DataShowActivity"
            android:label="@string/app_name" />
        <!-- 即时分配 -->
        <activity android:name=".activity.AccountActivity" />
        <!-- 即时分配明细 -->
        <activity android:name=".activity.AccountDetailActivity" />

        <service android:name=".serice.MessageService" />

        <!-- 分享 -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 集成line客户端登录授权，需要添如下格式的过滤器 -->
            <intent-filter>
                <data android:scheme="line.1477692153" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- ShareSDK3.1.0版本之前才需要在MobUIShell下面注册此意图，3.1.0版本之后（包含3.1.0）不需要注册此intent -->
            <intent-filter>
                <data android:scheme="tencent100371282" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- User defined.  For test only  用户自定义的广播接收器 -->
        <receiver
            android:name=".push.MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" />
                <!-- Optional 用户接受Rich Push Javascript 回调函数的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.tg.coloursteward" />
            </intent-filter>
        </receiver>

        <!-- 更新App服务 -->
        <service android:name=".serice.DownLoadService" />

        <activity android:name=".activity.RedpacketsRecordDetailActivity" />
        <activity android:name=".activity.SearchContactListActivity" />
        <activity android:name=".activity.SearchHomeListActivity" />
        <activity android:name=".activity.SearchManageMentListActivity" />
        <activity android:name=".activity.BranchActivity" />
        <activity android:name=".activity.PublicAccountActivity" />
        <activity android:name="com.tg.user.activity.ForgetPasswordActivity" />
        <activity android:name="com.tg.user.activity.ForgetPasswordVerifyActivity" />
        <activity android:name=".activity.RedpacketsAccountListActivity" />
        <activity android:name=".activity.AccountDetailNewActivity" />
        <activity android:name=".activity.AccountExchangeRecordActivity" />
        <activity android:name=".activity.AccountExchangeActivity" />
        <activity android:name=".activity.AccountExchangeDetailActivity" />
        <activity android:name=".activity.PublicAccountDetailsActivity" />
        <activity android:name=".activity.GroupAccountDetailsActivity" />
        <activity android:name=".activity.PublicAccountSearchActivity" />
        <activity android:name=".activity.PublicAccountListActivity" />
        <activity android:name=".activity.PublicAccountTransferActivity" />
        <activity android:name=".activity.PublicAccountExchangeActivity" />
        <activity android:name=".activity.RedpacketsDetailsActivity" />
        <activity android:name=".activity.AccountExchangeDetail_FreezingActivity" />
        <!-- 对公账户（兑换方式） -->
        <activity
            android:name=".activity.ExchangeMethodActivity"
            android:label="@string/app_name" />
        <!-- 兑换给同事（对公账户） -->
        <activity
            android:name=".activity.RedpacketsDGZHShareMainMainActivity"
            android:label="@string/app_name" />
        <!-- 账号选择OA列表 -->
        <activity
            android:name=".activity.RedpacketsDGZHAccountListActivity"
            android:label="@string/app_name" />
        <!-- 兑换给同事  转账界面（对公账户） -->
        <activity
            android:name=".activity.PublicAccountTransferToColleagueActivity"
            android:label="@string/app_name" />
        <!-- H5调原生 -->
        <activity
            android:name=".activity.RedpacketsTransferToColleagueH5Activity"
            android:label="@string/app_name" />
        <activity
            android:name=".czy.ColourLifeEntryActivity"
            android:exported="true"
            android:theme="@style/shareDialog"></activity>

        <service
            android:name="com.baidu.trace.LBSTraceService"
            android:enabled="true"
            android:process=":remote"></service>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="KfVrlHlSoYmNqZQjRtoQUp6GT470rYZ3" />

        <activity android:name=".module.BrowerJumpExcessiveActivity"></activity>
        <activity android:name="com.tg.user.activity.LeadActivity" />
        <activity
            android:name=".module.PopupActivity"
            android:theme="@style/popupTransparent" />

        <service android:name=".serice.UpdateService" />
        <activity android:name="com.tg.user.activity.BindMobileActivity" />
    </application>

</manifest>