<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.youmai.hxsdk">

    <!-- Normal Permissions start -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!-- Normal Permissions end -->


    <!-- Dangous Permissions start -->
    <!-- STORAGE -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--SMS-->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <!--PHONE-->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <!-- MICROPHONE -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!--LOCATION-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--CONTACTS-->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <!--CAMERA-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Dangous Permissions end-->

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />


    <!--这里com.xiaomi.mipushdemo改成app的包名-->
    <permission
        android:name="${applicationId}.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature" />
    <!--这里com.xiaomi.mipushdemo改成app的包名-->
    <uses-permission android:name="${applicationId}.permission.MIPUSH_RECEIVE" />


    <!--flyme-->
    <!-- 兼容flyme5.0以下版本，魅族内部集成pushSDK必填，不然无法收到消息-->
    <permission
        android:name="${applicationId}.push.permission.MESSAGE"
        android:protectionLevel="signature" />

    <permission
        android:name="${applicationId}.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.meizu.flyme.push.permission.RECEIVE" />

    <uses-permission android:name="${applicationId}.push.permission.MESSAGE" />

    <!--  兼容flyme3.0配置权限-->
    <uses-permission android:name="com.meizu.c2dm.permission.RECEIVE" />

    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" />

    <!--huawei-->
    <!-- Push需要的权限 -->
    <!-- 可选，使用Push标签上报需要的权限,不上报标签就不需要 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <application>

        <!-- *************************************** -->
        <!-- 接入合作方APP 需要修改的API KEY值 begin -->
        <!-- *************************************** -->
        <!-- 高德地图 APPKEY-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="@string/amap_apikey" />

        <!--魅族手机推送-->
        <meta-data
            android:name="Flyme_AppID"
            android:value="@string/flyme_appid" />
        <meta-data
            android:name="Flyme_AppKey"
            android:value="@string/flyme_appkey" />

        <!--小米手机推送-->
        <meta-data
            android:name="Mi_AppID"
            android:value="@string/mi_appid" />
        <meta-data
            android:name="Mi_AppKey"
            android:value="@string/mi_appkey" />

        <!--华为手机推送-->
        <meta-data
            android:name="com.huawei.hms.client.appid"
            android:value="@string/huawei_appid" />
        <!-- *************************************-->
        <!-- 接入合作方APP 需要修改的API KEY值 end-->
        <!-- *************************************-->

        <activity
            android:name="com.youmai.hxsdk.WrapSendFileActivity"
            android:launchMode="singleInstance"
            android:theme="@style/HxMsgTheme" />

        <activity
            android:name="com.youmai.hxsdk.map.LocationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HxSdkTheme" />

        <activity
            android:name="com.youmai.hxsdk.PhotoPickerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HxSdkTheme" />

        <!--剪裁页面-->
        <activity
            android:name="com.youmai.hxsdk.crop.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HxWindowAnimTheme" />

        <activity
            android:name="com.youmai.hxsdk.activity.WebViewActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.youmai.hxsdk.activity.CropImageActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/HxMsgTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="img" />
            </intent-filter>
        </activity>

        <!--查看接受到的图片-->
        <activity
            android:name="com.youmai.hxsdk.activity.PictureIndicatorActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.youmai.hxsdk.module.picker.PreviewImageActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.youmai.hxsdk.module.picker.PreviewVideoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.youmai.hxsdk.activity.CropMapActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/HxMsgTheme" />

        <!--视频录制-->
        <activity
            android:name="com.youmai.hxsdk.module.movierecord.MovieRecodeActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/HxMsgTheme" />

        <!--IM消息-->
        <!-- <activity
             android:name="com.youmai.hxsdk.activity.IMConnectionActivity"
             android:configChanges="keyboardHidden|orientation"
             android:launchMode="singleTop"
             android:screenOrientation="portrait"
             android:theme="@style/HxSdkNewTheme"
             android:windowSoftInputMode="adjustResize|stateHidden" />-->


        <!--IM文件预览、下载打开-->
        <activity
            android:name="com.youmai.hxsdk.IMFilePreviewActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.youmai.hxsdk.WrapIMFilePreviewActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.youmai.hxsdk.module.picker.PhotoPreviewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.youmai.hxsdk.module.picker.PhotoDirectoryActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.youmai.hxsdk.picker.FilePickerActivity"
            android:configChanges="orientation|keyboardHidden"
            android:noHistory="true" />

        <activity
            android:name="com.youmai.hxsdk.picker.MediaDetailsActivity"
            android:configChanges="orientation|keyboardHidden" />

        <!--file manager start-->
        <activity
            android:name="com.youmai.hxsdk.module.filemanager.activity.FileManagerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/HxSdkTheme" />

        <activity
            android:name="com.youmai.hxsdk.module.filemanager.activity.FileClassifyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HxSdkNewTheme" />

        <activity
            android:name="com.youmai.hxsdk.module.filemanager.activity.FileDownloadActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HxSdkTheme" />

        <activity
            android:name="com.youmai.hxsdk.module.filemanager.activity.FileDLClassifyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HxSdkNewTheme" />
        <!--file manager end-->

        <activity
            android:name="com.youmai.hxsdk.module.photo.activity.PhotoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HxSdkTheme" />

        <activity
            android:name="com.youmai.hxsdk.module.photo.activity.PhotoPreViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HxSdkTheme" />

        <activity
            android:name="com.youmai.hxsdk.activity.CameraActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HxSdkTheme" />

        <!--视频播放-->
        <activity
            android:name=".module.videoplayer.VideoPlayerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HxSdkTheme" />

        <activity
            android:name=".activity.HookCameraActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HxSdkTheme" />

        <!--设置提醒-->
        <activity
            android:name="com.youmai.hxsdk.module.remind.SetRemindActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HxSdkTheme" />

        <activity
            android:name=".contact.search.demo.GlobalSearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HxSdkTheme" />

        <receiver
            android:name="com.youmai.hxsdk.receiver.HuxinReceiver"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.HOME" />

                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />

                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
                <action android:name="huxin.intent.action.START_SERVER" />
                <action android:name="huxin.intent.action.PUSH_MSG" />

            </intent-filter>
        </receiver>


        <service android:name=".service.ForegroundEnablingService" />

        <service
            android:name=".service.HuxinStartJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name=".service.SendMsgService"
            android:permission="1000" />

        <service
            android:name="com.youmai.hxsdk.service.HuxinService"
            android:enabled="true"
            android:exported="false"
            android:persistent="true">
            <intent-filter>
                <action android:name="com.youmai.huxin.service.BOOT_SERVICE" />
                <action android:name="com.youmai.huxin.service.NEW_OUTGOING_CALL" />
                <action android:name="com.youmai.huxin.service.IM_LOGIN_OUT" />
            </intent-filter>
        </service>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.filepicker.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>


        <!-- 高德定位需要的服务 -->
        <service android:name="com.amap.api.location.APSService" />

        <!-- ***************************************-->
        <!-- 华为 魅族 小米 推送 begin-->
        <!-- ***************************************-->

        <!--xiao-push start-->
        <service
            android:name="com.xiaomi.push.service.XMPushService"
            android:enabled="true"
            android:process=":pushservice" />
        <service
            android:name="com.xiaomi.push.service.XMJobService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":pushservice" />
        <!--注：此service必须在3.0.1版本以后（包括3.0.1版本）加入-->
        <service
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.xiaomi.mipush.sdk.MessageHandleService"
            android:enabled="true" />
        <!--注：此service必须在2.2.5版本以后（包括2.2.5版本）加入-->
        <receiver
            android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.xiaomi.push.service.receivers.PingReceiver"
            android:exported="false"
            android:process=":pushservice">
            <intent-filter>
                <action android:name="com.xiaomi.push.PING_TIMER" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.youmai.hxsdk.push.receiver.XiaomiMsgReceiver"
            android:exported="true">
            <!--这里com.xiaomi.mipushdemo.DemoMessageRreceiver改成app中定义的完整类名-->
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>
        <!--xiao-push end-->

        <!--flyme-push start-->
        <!-- push应用定义消息receiver声明 -->
        <receiver android:name="com.youmai.hxsdk.push.receiver.FlymeMsgReceiver">
            <intent-filter>
                <!-- 接收push消息 -->
                <action android:name="com.meizu.flyme.push.intent.MESSAGE" />
                <!-- 接收register消息 -->
                <action android:name="com.meizu.flyme.push.intent.REGISTER.FEEDBACK" />
                <!-- 接收unregister消息-->
                <action android:name="com.meizu.flyme.push.intent.UNREGISTER.FEEDBACK" />
                <!-- 兼容低版本Flyme3推送服务配置 -->
                <action android:name="com.meizu.c2dm.intent.REGISTRATION" />
                <action android:name="com.meizu.c2dm.intent.RECEIVE" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>
        <!--flyme-push end-->

        <!--Huawei-push start-->
        <!--华为push需要,不需要改包名-->

        <!-- 使用 HMSAgent 代码接入HMSSDK 需要注册的activity | Use hmsagent code to access HMSSDK activity that requires registration-->
        <activity
            android:name="com.huawei.android.hms.agent.common.HMSAgentActivity"
            android:configChanges="orientation|locale|screenSize|layoutDirection|fontScale"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Translucent">
            <meta-data
                android:name="hwc-theme"
                android:value="androidhwext:style/Theme.Emui.Translucent" />
        </activity>

        <!-- 接入HMSSDK 需要注册的activity | Access HMSSDK activity to be registered-->
        <activity
            android:name="com.huawei.hms.activity.BridgeActivity"
            android:configChanges="orientation|locale|screenSize|layoutDirection|fontScale"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Translucent">
            <meta-data
                android:name="hwc-theme"
                android:value="androidhwext:style/Theme.Emui.Translucent" />
        </activity>

        <!-- 接入HMSSDK 需要注册的activity | Access HMSSDK activity to be registered-->
        <activity
            android:name="com.huawei.updatesdk.service.otaupdate.AppUpdateActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:theme="@style/upsdkDlDialog">
            <meta-data
                android:name="hwc-theme"
                android:value="androidhwext:style/Theme.Emui.Translucent.NoTitleBar" />
        </activity>

        <!-- 接入HMSSDK 需要注册的activity | Access HMSSDK activity to be registered-->
        <activity
            android:name="com.huawei.updatesdk.support.pm.PackageInstallerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@style/upsdkDlDialog">
            <meta-data
                android:name="hwc-theme"
                android:value="androidhwext:style/Theme.Emui.Translucent" />
        </activity>

        <!-- 第三方相关 :接收Push消息（注册、Push消息、Push连接状态）广播 -->
        <receiver android:name="com.youmai.hxsdk.push.receiver.HuaweiMsgReceiver">
            <intent-filter>
                <!-- 必须,用于接收token -->
                <action android:name="com.huawei.android.push.intent.REGISTRATION" />
                <!-- 必须，用于接收消息 -->
                <action android:name="com.huawei.android.push.intent.RECEIVE" />
                <!-- 可选，用于点击通知栏或通知栏上的按钮后触发onEvent回调 -->
                <action android:name="com.huawei.android.push.intent.CLICK" />
                <!-- 可选，查看push通道是否连接，不查看则不需要 -->
                <action android:name="com.huawei.intent.action.PUSH_STATE" />
            </intent-filter>
        </receiver>

        <!-- 接入HMSSDK 需要注册的应用下载服务 | Access HMSSDK need to register app download service-->
        <service
            android:name="com.huawei.updatesdk.service.deamon.download.DownloadService"
            android:exported="false" />

        <receiver android:name="com.huawei.hms.support.api.push.PushEventReceiver">
            <intent-filter>
                <!-- 接收通道发来的通知栏消息，兼容老版本Push -->
                <action android:name="com.huawei.intent.action.PUSH" />
            </intent-filter>
        </receiver>

        <!-- 升级provider, 向安装器提供"content://<package.name>.hsf.update.provider/update/hms/HwMobileService.apk" -->
        <provider
            android:name="com.huawei.hms.update.provider.UpdateProvider"
            android:authorities="${applicationId}.hms.update.provider"
            android:exported="false"
            android:grantUriPermissions="true" />

        <provider
            android:name="com.huawei.updatesdk.fileprovider.UpdateSdkFileProvider"
            android:authorities="${applicationId}.updateSdk.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true" />
        <!--Huawei-push end-->

        <!-- ***************************************-->
        <!-- 华为 魅族 小米 推送 end-->
        <!-- ***************************************-->

    </application>

</manifest>